<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title></ion-title>
		<ion-buttons end>
				<button class="jb-skip-button"  *ngIf="iap!='' && iap!=undefined" (click)="landing()">SKIP <span>  ></span> </button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content class="jb-background">
	<div class="SignUpForm">

		<div class="SignUpFormTable-Cell">
			<div class="OnlyForSignUpFormContainer">
				<div class="img-set">
					<img class="imgSize" src="assets/imgs/LoginLogo.png">
				</div>
				<div class="text-container-login">
					<p>Continue with</p>
				</div>

					<div class="row buttonContainerLogin" *ngIf="LoginUser!=true">
						<div class="col">
							<div class="ink ForgotPassword" (click)="CreateAccount();">
								<span style="font-family:Gotham-Bold;font-size: 16px;letter-spacing: 2px;">CREATE ACCOUNT</span>
							</div>
						</div>
					</div>

				<div class="borderOfor" *ngIf="LoginUser!=true">
					<span>OR</span>
				</div>

					 <div style="margin-top: 40px;" class="row buttonContainerLogin" *ngIf="LoginUser!=true">
						<div class="col">
							<div class="ink ForgotPassword" (click)="Login()">
								<span style="font-family:Gotham-Bold;font-size: 16px;letter-spacing: 2px;">LOGIN</span>
							</div>
						</div>
					</div>


				<!-- <div class="row buttonContainerLogin" *ngIf="LoginUser==true">
					<div class="col">
						<div class="ink facebook"  (click)="temp()">
							<img class="img-icon-facebook" src="assets/imgs/facebookicon.png">
							<span style="font-family:Gotham-Bold;font-size: 16px;letter-spacing: 2px;">FACEBOOK</span>
						</div>
					</div>
				</div>
				<div class="borderOfor" *ngIf="LoginUser==true">
					<span>OR</span>
				</div> -->
				<div class="row buttonContainerLogin" *ngIf="LoginUser==true">
					<div class="col">
						<div class="ink email" (click)="emailLogin();">
							<img class="img-icon-email" src="assets/icon/envelope.svg">
							<span style="font-family:Gotham-Bold;font-size: 16px;letter-spacing: 2px;">EMAIL</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
