page-forgotpass {
// background-image: url("../assets/imgs/loginBg.png");
background-image: url("../assets/imgs/landingbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    ion-label{
        margin: 0px !important;
    }
    .toolbar-title
    {
        color:white !important;
    }
    .forgot-Password
{
    position: relative;
}
 .jb-background
 {
    background-color:transparent !important;
 }
.toolbar-background
{
    background: transparent !important;
    border: none !important;
}

.img-set
{
	margin:0 auto;
}

.borderOfor
{
	color: #fff;
    font-family: Gotham-Medium;    
    margin: 0 auto;
    opacity: 0.4;
    position: relative;
    text-align: center;    
    width: 17%;
    top: 22px;
   
}



.borderOfor::after {
	border: 1px solid #fff;
    bottom: 8px;
    content: "";    
    opacity: 0.5;
    position: absolute;
    right: -52px;
    width: 55px;
    z-index: -1;;
}

.borderOfor::before {
	border: 1px solid #fff;
    bottom: 8px;
    content: "";
    left: -53px;
    margin-right: -125px;
    opacity: 0.5;
    position: absolute;
    width: 55px;
    z-index: -1
}
 /*border for signUp page*/
.border-SignUp
{
	position:relative;
	color:#fff;
}

.border-SignUp::after
{
	border: 1px solid #fff;
    content: "";
    left: 6%;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    width: 85%;
}

.imgSize
{
	height: 84px;
    width: 65px;	
}

.buttonContainerLogin
{
    position:relative;
    margin-top:20px;
}
       .SignUpForm
{
	display: table;
    height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%
}
.SignUpFormTable-Cell
{
	display: table-cell;
    max-width: 100%;
    text-align: center;
    vertical-align: middle;
}

.fromContainer
{
	padding:35px 0;
	
}
.text-container-login p
{
	color: #fff;
    font-family: Gotham-Medium;
    font-size: 16px;
    margin-top: 25px;
	
}

.text-container-login.or p :after
{
	content:"";
	border-bottom: 2px solid #fff;
    left: 203px;
    opacity: 0.22;
    position: absolute;
    top: 293px;
    width: 16%;
}

.OnlyForSignUpFormContainer
{

	width:100%;
	max-width:300px;
	height:auto;
	background-color:transparent;	
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
}




.forgotPasswordText p
{
	color: #fff;
    font-family: Gotham-Book;
    font-size: 14px;
    padding-top: 15px;
}

.fromlist .item-input .setImg 
{
    left: 23px;
    position: absolute;
    top: 16px;
    width: 19px
}

.setImgForShowPassword
{
	left: 252px;
    position: absolute;
    top: 7px;
    width: 19px
	
}

.bar.transparentBar {
    background-color: transparent;    
}

.transparent-Title
{
	font-family:Gotham-Medium;
	font-size:15px;
	color:#fff;
}



.buttonContainerLogin .col > div.facebook {
    background-color: #5c6dc7;
    color: #fff;
    height: 50px;
    padding: 5px 16px;
	margin-top: 50px;
    
}

.buttonContainerLogin .col > div.email {
    background-color: #18a0a1;
    color: #fff;
    height: 50px;    
    padding: 9px 0 18px;
    margin-top: 40px;
   
}


.buttonContainerLogin .col > div.paybal {
    background-color: #18a0a1;
    color: #fff;
	max-height: 50px;
    padding: 14px 0; 
    text-align: center; 
    width: 100%;	
}

.buttonContainerLogin .col > div.ForgotPassword {
    // background-color: #18a0a1;
    // background-color: #04235C;
    // color: #fff;
    // max-height: 50px;
    // padding: 14px 0;
    // text-align: center;
    // width: 100%;	
    background-color: #ffffff;
    color: #000;
    max-height: 50px;
    padding: 14px 0;
    text-align: center;
    width: 100%;
    border-radius: 7px;
}

.buttonContainerLogin .col > div.arrow {
	background-color: #18a0a1;
    color: #fff;
    height: 50px;
    left: 17px;
    padding: 9px 0 18px;
    position: absolute;
    top: 5px;
    width: 86%;
}


.img-icon-facebook
{
	left: -7px;
    position: relative;
    top: 6px;
    width: 25px;
}

.img-icon-email {
    left: -7px;
    position: relative;
    top: 6px;
    width: 25px;
}

.img-icon-arrow
{
	left: 0;
    position: relative;
    top: -9px;
    width: 70px;
}
.input-container
{
	position:relative
}

.input-containerOne
{
	position:relative;
}



.input-container img
{
	
    width: 20px;	
}

.input-container .setImgForUsername
{
	position:absolute;
	top:170px;
	left: 14%;
}

.input-container .setImgForshowPassword
{
	position:absolute;
	top:174px;
	left: 82%;
}

.fromlist {
    margin-bottom: 10px;
input
{
	background-color: transparent;
    box-shadow: none;
    color: #fff;
    font-family: Gotham-Medium; 
    padding-left: 25px;   
    width: 75%;
	line-height:40px;	
    margin: 0px !important;
    border:none;
}
}


.border-text-left
{	   
    position: relative;    
    width: 16%;
    
}
.loginBg
{
	background-image: url("../img/loginBg.png");
    background-repeat: no-repeat;
    background-size: cover;
	background-position:center;
}
.border-text-left
{
	content:"";
	position:absolute;
	top:50px;
	left:50px;
	border:2px solid red;
	
}
.jb-postion
{
    position: relative;
}
.item-input-padding
{
	padding-top:10px;
}
.item-input
{
    position: relative;
}

.item-input input {
    -moz-appearance: none;
    -moz-box-flex: 1;
    background-color: transparent;
    border-radius: 0;
    flex: 1 1 220px;
    margin: 0;
    padding-right: 48px;
}
.showPasswordonlye
{
	background-color: transparent;
    height: 50px;
    position: absolute;
    right: 27px;
    top: 15px;
    z-index: 10;
}
.showPasswordonlye-ForSignup
{
	background-color: transparent;
    height: 50px;
    position: absolute;
    right: 32px;
    top: 18px;
    z-index: 10;
}
.showPasswordIcon
{
	width:19px;
}

.item p
{
	padding-top:2px;
}

input::placeholder { font-family:Gotham-Medium;font-size:14px;color: #D1D1D1;padding-top:4px;opacity:1 }

}
