


<ion-content no-bounce>
<div class="UserDetails-div" *ngIf="editData.field!='age'">
  <div>
  <ion-item *ngIf="editData.field!='mobile_number'">
          <ion-input #myinput [(ngModel)]="editData.data" type="text"></ion-input>
   </ion-item>
   <ion-item *ngIf="editData.field=='mobile_number'">
          <ion-input #myinput [(ngModel)]="editData.data" type="tel" maxlength="12" (ionChange)='ViewNumber(editData.data)'></ion-input>
   </ion-item>
   <ion-row  class="Button-set">
   	<ion-col col-6>
   		 <button (click)="SaveChanges()" class="UserDetails-save" ion-button block>Save</button>
   	</ion-col>
   	<ion-col col-6>
   		 <button (click)="Dismiss()" class="UserDetails-save" ion-button block>Cancel</button>
   	</ion-col>
   </ion-row>
   </div>
</div>

</ion-content>
