<ion-header class="custBar">
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="appicons-menu"></ion-icon>
        </button>
        <!-- <ion-buttons left>
            <button class="Custiback" ion-button (click)="Goback()">
                <ion-icon class="appicons-iback"></ion-icon>
            </button>
        </ion-buttons> -->

    <ion-title *ngIf="type=='SCORE'" text-center>Score</ion-title>
    <ion-title *ngIf="type=='ACTION' " class="newtitleHeader">
      <div class="wide-as-needed text-center scorePageCss" style="background-color:transparent">
        <div class="button newHeaderText">
          <img src="{{path}}{{cutPath(homeTeamData.team_image)}}" class="img-storke titleHeaderImg" align="center" />{{homeTeamData.team_abbrevation}}</div>
        <div class="button newHeaderText-Middle">{{newTotalHomeTeamScore}} - {{newTotalAwayTeamScore}}</div>
        <div class="button newHeaderText">
          <img src="{{path}}{{cutPath(awayTeamData.team_image)}}" class="img-storke titleHeaderImg" />{{awayTeamData.team_abbrevation}}</div>
      </div>
    </ion-title>
    <ion-title *ngIf="type=='stats'" class="newtitleHeader">
      <div class="wide-as-needed text-center scorePageCss" style="background-color:transparent">
        <div class="button newHeaderText">
          <img src="{{path}}{{cutPath(homeTeam.team_image)}}" class="img-storke titleHeaderImg" align="center" />{{homeTeam.team_abbrevation}}</div>
        <div class="button newHeaderText-Middle">{{newTotalHomeTeamScore}} - {{newTotalAwayTeamScore}}</div>
        <div class="button newHeaderText">
          <img src="{{path}}{{cutPath(awayTeam.team_image)}}" class="img-storke titleHeaderImg" />{{awayTeam.team_abbrevation}}</div>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-segment [(ngModel)]="type" class="jb-segment">
  <ion-segment-button (click)="goToActionPage(type); " value="SCORE">
    SCORE
    <div class="CurvedBorder"></div>
  </ion-segment-button>
  <ion-segment-button (click)="goToActionPage(type); " value="ACTION" style="margin-left: 30px;margin-right: 30px;">
    ACTION
    <div class="CurvedBorder"></div>
  </ion-segment-button>
  <ion-segment-button (click)="goTostats(type); " value="stats">
    <span style="font-size: 9px !important;" class="premium">PREMIUM</span> STATS
    <div class="CurvedBorder"></div>
  </ion-segment-button>
</ion-segment>
<ion-header class="jb-grapheader" *ngIf="showcontent=='show' && type=='ACTION'">
  <div id="scoreChartminh" class="bar-subheader" style="height:105px; width:100% !important; background: white;  border: 0px !important; border-bottom-color: transparent !important; background-image: none !important; border-bottom: none !important;">
    <div [style.display]="shortAdvhideshow==0 ? 'block' : 'none'">
      <div class="graphTextContainerawayHeader">
        <img class="graphImgHeader  img-storke" src="{{path}}{{cutPath(homeTeamData.team_image)}}">
      </div>
      <div class="Grapgh-BorderHeader"></div>
      <div class="graphTextContainerHomeHeader">
        <img class="graphImgHeader  img-storke" src="{{path}}{{cutPath(awayTeamData.team_image)}}">
      </div>
    </div>
    <div class="jb-class-back-top">
      <div class='graph' id="scoreChartmin" style="height:100px;width:100% !important; margin-left:35px;   vertical-align: middle;font-size:14px;"></div>
      <div class="border-under-graph">        </div>
      <div class="border-top-graph">        </div>
 <div class="border-left-graph">    </div>
    <div class="border-right-graph">    </div>
    </div>

    <div [style.display]="shortAdvhideshow==0 ? 'block' : 'none'" class="advContainer" style="position:absolute; margin: 2px auto 0 0px; width: 104%;">
      <img src="{{path}}{{cutPath(advertisementHeader[0].ad_image)}}" (click)="goToAddSite(advertisementHeader[0].ad_url);">
    </div>
  </div>
</ion-header>
<ion-toolbar ion-scroll no-border class="scrollable-segments " *ngIf=" type=='stats' && pamentshow==1">
  <ion-segment [(ngModel)]="statschoose" style="background-color: #ffffff !important;">
    <ion-segment-button style="text-transform: capitalize;" class="jb-club-seg" (click)="selectstats('team'); " value="team">
      Teams
    </ion-segment-button>
    <ion-segment-button style="text-transform: capitalize;" class="jb-club-seg" (click)="selectstats('Player'); " value="Player">
      Players
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-header *ngIf="headerimage!='' && type=='stats'  && pamentshow==1" [style.display]="advDisplay=='hide' ? 'block' : 'none'"
  class="bar-sub-subheader" style="height: 50px;position:relative; top:85px; background-color: transparent; border: 0px !important; border-bottom-color: transparent !important; background-image: none !important; border-bottom: none !important; ">
  <div *ngIf="statschoose !='Player'" class="advContainer" style="position:fixed;margin: 9px auto 0 -7px; width: 104%;">
    <!-- <img src="{{path}}{{headerimage}}" class="full-image" (click)="goToAddSite(headerurl);"> -->
    <img src="{{path}}{{cutPath(adv[0].ad_image)}}" (click)="goToAddSite(adv[0].ad_url);">
  </div>
</ion-header>
<ion-content class="bgPage-color" (ionScroll)="onScroll($event)">

  <div *ngIf="showcontent=='show' && type=='SCORE'">
    <ul class="list compitationList">


      <li class="item ink">
        <div class="row text-center">
          <ion-col col-3 class="col teamCol onlyScore">
            <div class="jb-inner-img"><span class="helper"></span>
              <img src="{{path}}{{cutPath(homeTeamAbbr.team_image)}}" class="full-image img-storke"></div>
            <p style="margin:auto;"> {{homeTeamAbbr.team_name}}</p>

            <!-- <h4 *ngIf="HomeTeamScore == ''">0.0</h4> -->
            <!-- <h4 *ngIf="HomeTeamScore != ''">{{totalHomeQuarerScore}}</h4> -->

            <h3 class="jd-custom-scoretxt" style="margin-top: 14px !important;">{{newTotalHomeTeamScore}}</h3>
          </ion-col>
          <ion-col col-6 class="col teamCenterDiv">
            <div class="dispTable">
              <div class="dispTableCell" style="margin: 50px auto 0 !important;">
                <div class="teamScoreContainer">
                  <!--<h3 style="margin-top:-10px"><b>{{winTeamStatus}} </b> <br/><span style="font-family:Gotham-Book;"  [innerHTML]=-html="changeWinning(winTeamScore)"> </span></h3>-->

                  <h3 style="margin-top: 0px;">
                    <b style="font-family: Gotham-Bold;">{{winTeamStatus}} </b>
                    <br />
                    <span style="font-family:Gotham-Book;"> {{winTeamScore}}</span>
                  </h3>

                  <div class="qtrTimingContainer" *ngIf="teamStatus == 10 && QuaterBreakstatus == 0">
                    <div class="qtrNo" style="font-family:Gotham-Bold;">Q{{ lastScore.quater_new }}</div>
                    <div class="qtrNoTime" style="font-family:Gotham-Medium;">{{ lastScore.act_time_new }}</div>
                  </div>

                  <!-- <div class="qtrTimingContainer" *ngIf="teamStatus == 1"> -->
                  <!-- <div class="qtrNo" style="font-family:Gotham-Bold;">Q{{ lastScore.quater_new }}</div> -->
                  <!-- <div class="qtrfinished" style="font-family:Gotham-Medium;font-size:14px;">Full Time</div> -->
                  <!-- </div> -->
                  <!-- new completed -->
                  <div class="jd_qtrtmg" *ngIf="teamStatus == 1">
                    <div class="jd_qtrfinished">FULL TIME</div>
                  </div>
                  <!--  -->
                  <!-- new qtr break -->
                  <div class="jd_qtrtmg" *ngIf="teamStatus == 10 && QuaterBreakstatus == 1">
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == 2">QTR TIME</div>
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == 3">HALF TIME</div>
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == 4">3 QTR TIME</div>
                  </div>
                  <!-- <div class="jd_qtrtmg" *ngIf="teamStatus == 10 && QuaterBreakstatus == 1">
                      <div class="jd_qtrbreak" *ngIf="lastScore.quater_new == 2">QTR TIME</div>
                      <div class="jd_qtrbreak" *ngIf="lastScore.quater_new == 3">HALF TIME</div>
                      <div class="jd_qtrbreak" *ngIf="lastScore.quater_new == 4">3 QTR TIME</div>
                 </div> -->
                  <!--1st err <div class="jd_qtrtmg" *ngIf="teamStatus == 10 && QuaterBreakstatus == 1">
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == '1'">QTR TIME</div>
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == '2'">HALF TIME</div>
                    <div class="jd_qtrbreak" *ngIf="BreakQuater == '3'">3 QTR TIME</div>
                  </div> -->
                  <!--  -->
                </div>
              </div>
              <!-- <button ion-button class="watchbtn" (click)="WatchVideo()">
                <ion-icon class="play" name="md-play"></ion-icon>
                <span style="padding-left: 5px; font-family: Gotham-medium;">WATCH</span>
              </button>
              <button ion-button class="listenbtn" (click)="WatchAudio()">
                <ion-icon class="headset" name="ios-headset"></ion-icon>
                <span style="padding-left: 5px; font-family: Gotham-medium;">LISTEN</span>
              </button> -->
            </div>
          </ion-col>
          <ion-col col-3 class="col teamCol onlyScore">
            <div class="jb-inner-img"><span class="helper"></span>
              <img src="{{path}}{{cutPath(awayTeamAbbr.team_image)}}" class="full-image img-storke"></div>
            <p style="margin:auto;">{{awayTeamAbbr.team_name}}</p>
            <!-- <h4 *ngIf="awayTeamScore == ''">0.0</h4> -->
            <!-- <h4 *ngIf="awayTeamScore != ''">{{totalAwayQuarerScore}}</h4> -->

            <h3 class="jd-custom-scoretxt" style="margin-top: 14px !important;">{{newTotalAwayTeamScore}}</h3>
            <!--*ngIf="newTotalAwayTeamScore != ''"-->
          </ion-col>
        </div>
      </li>
    </ul>
    <div class="forSetColorContainer" style="padding-bottom:10px;">
      <!-- style="position:absolute;width: 100%; top:220px" -->
      <div class="qtrScoreContainerRow clearfix">
        <div class="qtrScoreTeam">
          <div class="colorContainer" *ngIf="HomeTeamScore == ''">0.0</div>
          <div class="colorContainer" *ngIf="HomeTeamScore != ''">{{q1HomeScore}}</div>

        </div>

        <div class="circularMidQtr" [ngClass]="{'bgColorGreen': lastScore.quater_new == 1, 'bgColorWhite ': lastScore.quater_new != 1}"
          *ngIf="statusName != 'COMPLETE' ">
          Q1
        </div>
        <div class="circularMidQtr" *ngIf="statusName == 'COMPLETE' ">
          Q1
        </div>

        <div class="qtrScoreTeam text-right">
          <div class="colorContainer" *ngIf="awayTeamScore == ''">0.0</div>
          <div class="colorContainer" *ngIf="awayTeamScore != ''">{{q1AwayScore}}</div>

        </div>
      </div>
      <div class="qtrScoreContainerRow clearfix">
        <div class="qtrScoreTeam">
          <div class="colorContainer" *ngIf="lastScore.quater_new < 2">-</div>
          <div class="colorContainer" *ngIf="HomeTeamScore != ''  && lastScore.quater_new>=2">{{q2HomeScore}}</div>
          <div class="colorContainer" *ngIf="HomeTeamScore == ''  && lastScore.quater_new>=2">0.0</div>

        </div>

        <div class="circularMidQtr1" [ngClass]="{'bgColorGreen': lastScore.quater_new == 2, 'bgColorWhite': lastScore.quater_new != 2}"
          *ngIf="statusName != 'COMPLETE' ">
          Q2
        </div>
        <div class="circularMidQtr1" *ngIf="statusName == 'COMPLETE' ">
          Q2
        </div>

        <div class="qtrScoreTeam text-right">
          <div class="colorContainer" *ngIf="lastScore.quater_new < 2">-</div>
          <div class="colorContainer" *ngIf="awayTeamScore != ''  && lastScore.quater_new>=2">{{q2AwayScore}}</div>
          <div class="colorContainer" *ngIf="awayTeamScore == ''  && lastScore.quater_new>=2">0.0</div>

        </div>
      </div>
      <div class="qtrScoreContainerRow clearfix">
        <div class="qtrScoreTeam">
          <div class="colorContainer" *ngIf="lastScore.quater_new  < 3">-</div>
          <div class="colorContainer" *ngIf="HomeTeamScore != '' &&  lastScore.quater_new >=3">{{q3HomeScore}}</div>
          <div class="colorContainer" *ngIf="HomeTeamScore == ''  && lastScore.quater_new>=3">0.0</div>

        </div>

        <div class="circularMidQtr" [ngClass]="{'bgColorGreen': lastScore.quater_new == 3, 'bgColorWhite': lastScore.quater_new != 3}"
          *ngIf="statusName != 'COMPLETE' ">
          Q3
        </div>
        <div class="circularMidQtr" *ngIf="statusName == 'COMPLETE' ">
          Q3
        </div>

        <div class="qtrScoreTeam text-right">
          <div class="colorContainer" *ngIf="lastScore.quater_new  < 3">-</div>
          <div class="colorContainer" *ngIf="awayTeamScore != ''  && lastScore.quater_new>=3">{{q3AwayScore}}</div>
          <div class="colorContainer" *ngIf="awayTeamScore == ''  && lastScore.quater_new>=3">0.0</div>

        </div>
      </div>
      <div class="qtrScoreContainerRow clearfix">
        <div class="qtrScoreTeam">

          <div class="colorContainer" *ngIf="lastScore.quater_new  < 4">-</div>
          <div class="colorContainer" *ngIf="HomeTeamScore != '' &&  lastScore.quater_new >=4">{{q4HomeScore}}</div>
          <div class="colorContainer" *ngIf="HomeTeamScore == '' &&  lastScore.quater_new >=4">0.0</div>

        </div>

        <div class="circularMidQtr1" [ngClass]="{'bgColorGreen': lastScore.quater_new == 4, 'bgColorWhite': lastScore.quater_new != 4}"
          *ngIf="statusName != 'COMPLETE' ">
          Q4
        </div>
        <div class="circularMidQtr1" *ngIf="statusName == 'COMPLETE' ">
          Q4
        </div>

        <div class="qtrScoreTeam text-right">
          <div class="colorContainer" *ngIf="lastScore.quater_new  < 4">-</div>
          <div class="colorContainer" *ngIf="awayTeamScore != ''  && lastScore.quater_new>=4">{{q4AwayScore}}</div>
          <div class="colorContainer" *ngIf="awayTeamScore == ''  && lastScore.quater_new>=4">0.0</div>

        </div>
      </div>
    </div>
    <!-- ad section -->
    <div class="jb-adv jd-ad">
      <img src="{{path}}{{cutPath(advertisementFooter.ad_image)}}" (click)="goToAddSite(advertisementFooter.ad_url);">
    </div>
    <!-- Goalkickers list  -->
    <div>
        <div style="
        height: 30px;
        background-color: #e0e0e0;
        text-align: center;
        vertical-align: middle;
        display: flex;">
          <p style="margin: auto;
          font-size: 14px;
          font-family: Gotham-Medium;
          color: grey;">GOAL KICKERS</p>
        </div>
      <ion-row>
        <!-- home team -->
        <ion-col class="colone">
          <p *ngFor="let hplyr of HomeGoalKickers" class="jd_home_bstplyr">
            {{hplyr.player_name.split(" ").length < 3 ? (hplyr.player_name.substring(0, 1)+'. '+hplyr.player_name.split(" ")[1]) : (hplyr.player_name.substring(0, 1)+'. '+hplyr.player_name.split(" ")[2]) }} {{hplyr.goal}}
          </p>
        </ion-col>
        <!-- away team -->
        <ion-col class="coltwo">
          <p *ngFor="let awplyr of  AwayGoalKickers" class="jd_away_bstplyr">
            {{ awplyr.player_name.split(" ").length < 3 ? (awplyr.player_name.substring(0, 1)+'. '+awplyr.player_name.split(" ")[1]) : (awplyr.player_name.substring(0, 1)+'. '+awplyr.player_name.split(" ")[2]) }} {{awplyr.goal}}</p>
        </ion-col>
      </ion-row>
    </div>
    <!-- Best players list  -->
    <div *ngIf="statusName == 'COMPLETE'">
      <div style="height: 30px;
      background-color: #e0e0e0;
      text-align: center;
      vertical-align: middle;
      display: flex;">
        <p style="margin: auto;
        font-size: 14px;
        font-family: Gotham-Medium;
        color: grey;">BEST PLAYERS</p>
      </div>
      <ion-row>
        <!-- home team -->
        <ion-col class="colthree">
          <p *ngFor="let bplyr of HomeBestplayers" class="jd_home_bstplyr">
              {{ bplyr.split(" ").length < 3 ? (bplyr.substring(0, 1)+'. '+bplyr.split(" ")[1]) : (bplyr.substring(0, 1)+'. '+bplyr.split(" ")[2]) }}
            <!-- {{ (bplyr.trim().length >= 18) ? (bplyr | slice:0:10)+'..' : bplyr }} -->
          </p>
        </ion-col>
        <!-- away team -->
        <ion-col class="colfour">
          <p *ngFor="let aplyr of AwayBestplayers" class="jd_away_bstplyr">
            {{ aplyr.split(" ").length < 3 ? (aplyr.substring(0, 1)+'. '+aplyr.split(" ")[1]) : (aplyr.substring(0, 1)+'. '+aplyr.split(" ")[2]) }}
            <!-- {{ (aplyr.trim().length >= 18) ? (aplyr | slice:0:10)+'..' : aplyr }} -->
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="showcontent=='show' && type=='ACTION'">
    <div *ngIf="graphImgShowHide==1" style=" top: 30px;
    margin-top: 62px;">
      <div class="MobAppawayTeam">
        <img class="graphImg graphTextContaineraway img-storke" src="{{path}}{{cutPath(homeTeamData.team_image)}}">
      </div>
      <div class="MobApphomeTeam">
        <img class="graphImg graphTextContainerhome img-storke" src="{{path}}{{cutPath(awayTeamData.team_image)}}">
      </div>
      <div class="Grapgh-Border"></div>
      <div class="Grapgh-Border-Ends"></div>
    </div>
    <div class="jb-class-back">
      <div class='graph' id="scoreChart" style="height:200px; width:inherit !important;  margin-left:35px; vertical-align: middle;font-size:17px;margin-top: 80px;"></div>
    </div>
    <div class="border-under-graph">        </div>
      <div class="border-top-graph">        </div>
 <div class="border-left-graph">    </div>
    <div class="border-right-graph">    </div>
    <div class="HomeTeam_qScore" *ngIf="graphImgShowHide==1">
      <span class="hmq1" >{{q1HomeScore}}</span>
       <!-- hometeam q1 -->
       <span class="hmq1" *ngIf="HomeTeamScore != ''">{{q1HomeScore}}</span>
       <span class="hmq1"  *ngIf="HomeTeamScore == ''">0.0</span>
       <!--  -->
       <!-- hometeam q2 -->
       <span class="hmq2" *ngIf="HomeTeamScore != '' &&  lastScore.quater_new >=2">{{q2HomeScore}}</span>
       <span class="hmq2"  *ngIf="HomeTeamScore == ''  && lastScore.quater_new>=2">0.0</span>
       <span class="hmq2"  *ngIf="lastScore.quater_new  < 2">-</span>
       <!--  -->
      <!-- hometeam q3 -->
      <span class="hmq3" *ngIf="HomeTeamScore != '' &&  lastScore.quater_new >=3">{{q3HomeScore}}</span>
      <span class="hmq3"  *ngIf="HomeTeamScore == ''  && lastScore.quater_new>=3">0.0</span>
      <span class="hmq3"  *ngIf="lastScore.quater_new  < 3">-</span>
      <!--  -->
       <!-- hometeam q4 -->
       <span class="hmq4" *ngIf="HomeTeamScore != '' &&  lastScore.quater_new >=4">{{q4HomeScore}}</span>
       <span class="hmq4"  *ngIf="HomeTeamScore == ''  && lastScore.quater_new>=4">0.0</span>
       <span class="hmq4"  *ngIf="lastScore.quater_new  < 4">-</span>
       <!--  -->
    </div>
    <div class="AwayTeam_qScore" *ngIf="graphImgShowHide==1">
         <!-- Awayteam q1 -->
         <span class="awq1" *ngIf="awayTeamScore != ''">{{q1AwayScore}}</span>
         <span class="awq1"  *ngIf="awayTeamScore == ''">0.0</span>
         <!--  -->
         <!-- hometeam q2 -->
         <span class="awq2" *ngIf="awayTeamScore != '' &&  lastScore.quater_new >=2">{{q2AwayScore}}</span>
         <span class="awq2"  *ngIf="awayTeamScore == ''  && lastScore.quater_new>=2">0.0</span>
         <span class="awq2"  *ngIf="lastScore.quater_new  < 2">-</span>
         <!--  -->
        <!-- hometeam q3 -->
        <span class="awq3" *ngIf="awayTeamScore != '' &&  lastScore.quater_new >=3">{{q3AwayScore}}</span>
        <span class="awq3"  *ngIf="awayTeamScore == ''  && lastScore.quater_new>=3">0.0</span>
        <span class="awq3"  *ngIf="lastScore.quater_new  < 3">-</span>
        <!--  -->
         <!-- hometeam q4 -->
         <span class="awq4" *ngIf="awayTeamScore != '' &&  lastScore.quater_new >=4">{{q4AwayScore}}</span>
         <span class="awq4"  *ngIf="awayTeamScore == ''  && lastScore.quater_new>=4">0.0</span>
         <span class="awq4"  *ngIf="lastScore.quater_new  < 4">-</span>
         <!--  -->
    </div>
    <div class="advContainer " *ngIf="graphImgShowHide==1">
      <img src="{{path}}{{cutPath(advertisementHeader[0].ad_image)}}" (click)="goToAddSite(advertisementHeader[0].ad_url);">
    </div>
    <ion-row class="row teamStates-List animated fadeInUp onlyForAction ink" *ngFor="let data of actionScoreFeed1; let i=index">
      <ion-col class="col">
        <div class="list jb-list">
          <a class="item item-thumbnail-left newsList-CustomCSS ONTeam-Select onlyForAction">
            <img src="img/team1.png" class="ActionLogoImg newsList-SideImage-CSS img-storke " *ngIf="data.team_type=='null'"
              style="max-width:50px">

            <img src="{{path}}{{cutPath(homeTeamData.team_image)}}" class="ActionLogoImg newsList-SideImage-CSS img-storke"
              *ngIf="data.team_type=='home'" style="max-width:50px">

            <img src="{{path}}{{cutPath(awayTeamData.team_image)}}" class="ActionLogoImg newsList-SideImage-CSS img-storke"
              *ngIf="data.team_type=='away'" style="max-width:50px">
            <h2>{{data.stat_title}}
              <span style="font-family:Gotham-Medium;color:#76797f;" *ngIf="data.player_name"> {{data.player_name}}</span>
              <!-- <span style="font-family:Gotham-Medium;color: #c3c6cc;" *ngIf="data.player_name.length > 14"> {{data.player_name }}</span>    -->
            </h2>
            <p style="padding-top:5px;">Q{{data.quater}} {{data.act_time}}</p>
            <div *ngIf="data.player_image != '/web' && data.player_image != '' && data.player_image != '/web/images/default_player.png'">
            <img class="jd_scorefd_Pimg" src="{{path}}{{cutPath(data.player_image)}}">
          </div>
          </a>
        </div>
      </ion-col>

    </ion-row>
  </div>

  <!-- stats -->
  <div class="jb-stats" *ngIf=" type=='stats' && pamentshow==1" style="background-color: transparent;">
    <div *ngIf="statschoose=='team' && !ShowCoach">
      <ul class="list compitationList">
        <li class="item ink">
            <div class="row text-center">
                <ion-col col-5 class="col teamCol onlyScore">
                  <div class="jb-inner-img"><span class="helper"></span>
                    <img style="max-width: 70px;" src="{{path}}{{cutPath(homeTeamAbbr.team_image)}}" class="full-image img-storke"></div>
                  <p class="jd_t"  style="margin:auto; overflow: visible !important;"> {{homeTeamAbbr.team_name}}</p>
                  <h3 style="font-size: 24px !important; padding-top: 15px;" class="jd-custom-scoretxt">{{newTotalHomeTeamScore}}</h3>
                </ion-col>
                <ion-col col-2 class="col teamCenterDiv">
                  <div class="dispTable">
                    <div class="dispTableCell">
                      <div class="teamScoreContainer" style="padding-top: 45px !important;">
                        <span class="Jd_span">VS</span>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-5 class="col teamCol onlyScore">
                  <div class="jb-inner-img"><span class="helper"></span>
                    <img style="max-width: 70px;" src="{{path}}{{cutPath(awayTeamAbbr.team_image)}}" class="full-image img-storke"></div>
                    <p class="jd_t" style="margin:auto; overflow: visible !important;">{{awayTeamAbbr.team_name}}</p>
                    <h3 style="font-size: 24px !important; padding-top: 15px;" class="jd-custom-scoretxt">{{newTotalAwayTeamScore}}</h3>
                </ion-col>
              </div>
        </li>
      </ul>
      <div class="advContainer3">
        <img src="{{path}}{{cutPath(adv[0].ad_image)}}" (click)="goToAddSite(adv[0].ad_url);">
      </div>
      <div style="padding-top: 30px;">
      <div *ngFor="let value of modifiedStateSeq;let key=index;">
        <div *ngIf="value.stat_abbrevation!='RB'">
          <div class="">
            <p class="nomalFormMidTitle" style="padding-bottom: 5px;">
              <span style="font-family: Gotham-Medium !important;">{{value.stat_name}}</span>
            </p>

            <ion-row class="row progressBarstyle" style="padding-bottom: 5px;">
              <ion-col class="col col-40">
                <div class="fillBar greenFill" [style.background-color]="value.homeTeamColor" [style.width]="value.homeTeamWidth"
                  style="font-size:19px; font-family:Gotham-Medium;">
                  {{homeTeamScoreStat[value.stat_abbrevation]}}
                </div>
              </ion-col>

              <ion-col class="col col-40">
                <div class="fillBar" [style.background-color]="value.awayTeamColor" [style.width]="value.awayTeamWidth"
                  style="font-size:19px; font-family:Gotham-Medium;">
                  {{awayTeamScoreStat[value.stat_abbrevation]}}
                </div>
              </ion-col>
            </ion-row>

          </div>
          <div class="" *ngIf="value.stat_abbrevation =='I50'">
            <p class="nomalFormMidTitle">
              <span style="font-family: Gotham-Medium !important;">EFF Inside 50s</span>
            </p>
            <ion-row class="row progressBarstyle">
              <ion-col col-5 class="col col-40">
                <div class="c100 p{{homeEFFWidth}} {{hColor}}" style="float:right;margin-right: 7px;">
                  <!-- <span> {{ EFFCalculattion(homeTeamScoreStat[value.stat_abbrevation],homeTeamScoreStat['G'], homeTeamScoreStat['B'], homeTeamScoreStat['RB'], homeTeamScoreStat['I50'], 'home')| number:0}}%</span>		 -->
                  <span> {{ homeEFF }}%</span>
                  <div class="slice">
                    <div class="bar1"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </ion-col>

              <ion-col col-2 class="col col-10">
                <!-- <div class="height-Border"></div> -->
              </ion-col>
              <ion-col col-5 class="col col-40">
                <div class="c100 p{{awayEFFWidth}} {{aColor}}" style=" margin-left: 9px;">
                  <span>{{ awayEFF }}%</span>
                  <div class="slice">
                    <div class="bar1"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </ion-col>

            </ion-row>

          </div>
        </div>
      </div>
      </div>
    </div>
    <div *ngIf="statschoose=='Player' && ShowCoach" class="jb-plaer">
       <!-- sort with quater functions -->
       <div class="jd_sort_Coach">
          <ion-row class="jd_sort_rwCoach">
            <ion-col [ngClass]="{'jd_selectedOptn': CoachQ.indexOf('all') > -1}" (click)="CoachSort('all')" col-3 class="jd_btn_border me">
              <p class="jd_sort_btnsCoach1">All</p>
            </ion-col>
            <ion-col [ngClass]="{'jd_selectedOptn': CoachQ.indexOf(1) > -1 }" (click)="CoachSort(1)" class="jd_btn_border">
              <p class="jd_sort_btnsCoach1">Q1</p>
            </ion-col>
            <ion-col [ngClass]="{'jd_selectedOptn': CoachQ.indexOf(2) > -1 }" (click)="CoachSort(2)" class="jd_btn_border">
              <p class="jd_sort_btnsCoach1">Q2</p>
            </ion-col>
            <ion-col [ngClass]="{'jd_selectedOptn': CoachQ.indexOf(3) > -1 }" (click)="CoachSort(3)" class="jd_btn_border">
              <p class="jd_sort_btnsCoach1">Q3</p>
            </ion-col>
            <ion-col [ngClass]="{'jd_selectedOptn': CoachQ.indexOf(4) > -1 }" (click)="CoachSort(4)" class="me2">
              <p class="jd_sort_btnsCoach1">Q4</p>
            </ion-col>
          </ion-row>
        </div>
        <!--  -->
        <!-- <div class="jd_advContainer1" *ngIf="showAd">
            <img src="{{path}}{{cutPath(adv[0].ad_image)}}" (click)="goToAddSite(adv[0].ad_url);">
          </div> -->
      <table [id]="playerStatsTable0" class="stripe row-border order-column playerStatsTable " cellspacing="0" *ngIf="showDataTable==true">
          <thead class="tst-left">
              <tr>
                <th class="jb-sorting">
                  <button class="button button-clear allTeam activated2 activated3" (click)="sortBYType('all')">
                    All
                  </button>

                  <button [id]="btn10" class="button button-clear playerStatLeftTeam homeTeam activated1" (click)="sortBYType('home')">
                    <img src="{{path}}{{cutPath(homeTeam.team_image)}}" class="img-storke" />
                  </button>

                  <button [id]="btn20" class="button button-clear playerStatRightTeam awayTeam1 activated1 " (click)="sortBYType('away')">
                    <img src="{{path}}{{cutPath(awayTeam.team_image)}}" class="img-storke" />
                  </button>
                </th>

                <th class="jb-sorting-gb GB" >
                  <button [ngClass]="{'jd_active_sort': jd_active == 'GB'}" (click)="sortBY('GB')" [id]="GB0" class="button button-clear tableColumSortStyle gbClass jd_gb">
                    G.B
                  </button>
                </th>
                <th [id]="buttonId0" class="D">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'D'}" (click)="sortBY('D')" class="button button-clear tableColumSortStyle jd_mid">
                    D
                  </button>
                </th>
                <th id='K' class="K">
                  <button  [ngClass]="{'jd_active_sort': jd_active == 'K'}" (click)="sortBY('K')" class="button button-clear tableColumSortStyle jd_mid">
                    K
                  </button>
                </th>
                <th (click)="sortBY('H')" class="H">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'H'}" class="button button-clear tableColumSortStyle jd_mid">
                    H
                  </button>
                </th>
                <th (click)="sortBY('M')" class="M">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'M'}" class="button button-clear tableColumSortStyle jd_mid">
                    M
                  </button>
                </th>
                <th (click)="sortBY('T')" class="T">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'T'}" class="button button-clear tableColumSortStyle jd_mid">
                    T
                  </button>
                </th>
                <th (click)="sortBY('HO')" class="HO">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'HO'}" class="button button-clear tableColumSortStyle jd_mid">
                    HO
                  </button>
                </th>
                <th (click)="sortBY('I50')" class="I50">
                  <button [ngClass]="{'jd_active_sort': jd_active == 'I50'}" class="button button-clear tableColumSortStyle jd_mid">
                    I50
                  </button>
                </th>
                <th (click)="sortBY('TC')" class="TC">
                    <button [ngClass]="{'jd_active_sort': jd_active == 'TC'}" class="button button-clear tableColumSortStyle jd_mid">
                      TC
                    </button>
                  </th>
                  <th (click)="sortBY('CC')" class="CC">
                      <button [ngClass]="{'jd_active_sort': jd_active == 'CC'}" class="button button-clear tableColumSortStyle jd_mid">
                        CC
                      </button>
                    </th>
                    <th (click)="sortBY('SC')" class="SC">
                        <button [ngClass]="{'jd_active_sort': jd_active == 'SC'}" class="button button-clear tableColumSortStyle jd_mid">
                          SC
                        </button>
                      </th>
                      <th (click)="sortBY('BC')" class="BC">
                          <button [ngClass]="{'jd_active_sort': jd_active == 'BC'}" class="button button-clear tableColumSortStyle jd_bEnd">
                            BC
                          </button>
                        </th>
              </tr>

            </thead>
            <tbody class=''>
              <tr *ngFor="let obj of homeTeamPlayers1;let key=index" id="jg-row">
                <td [attr.data-t]="obj.type" [attr.data-t1]="obj.player_id" style="text-align:left !important;" >
                  <div class="ladderTableLeftSide" *ngIf="obj.type=='home'">
                    <img src="{{path1}}{{baseUrl}}{{homeTeamImages[0].image_value}}" class="laderTeamIcon" />
                    <div class="Player_number">
                      <span>{{obj.player_number}}</span>
                    </div>
                    <span class="teamName" style="line-height:3 !important;">{{ obj.playerFName}}</span>
                  </div>

                  <div class="ladderTableLeftSide" *ngIf="obj.type=='away'">
                    <img src="http://54.244.98.247{{baseUrl}}{{awayTeamImages[0].image_value}}" class="laderTeamIcon" />
                    <div class="Player_number">
                      <span>{{obj.player_number}}</span>
                    </div>
                    <span class="teamName" style="line-height:3 !important;">{{obj.playerFName}}</span>
                  </div>

                </td>

                <td class="jb-sorting-gb">{{ getGBData(obj.G,obj.B,obj.RB,key,obj, obj.K, obj.H) }}</td>
                <td [innerHTML]="obj.D"></td>
                <td [innerHTML]="obj.K"></td>
                <td [innerHTML]="obj.H"></td>
                <td [innerHTML]="obj.M"></td>
                <td [innerHTML]="obj.T"></td>
                <td [innerHTML]="obj.HO"></td>
                <td [innerHTML]="obj.I50"></td>
                <td [innerHTML]="obj.TC"></td>
                <td [innerHTML]="obj.CC"></td>
                <td [innerHTML]="obj.SC"></td>
                <td [innerHTML]="obj.BC"></td>
              </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
      </table>
    </div>
    <!-- coach stats-player tab -->

    <!-- coach stats-player tab ends -->

    <!-- coach stats-team tab -->
    <div *ngIf="statschoose=='team' && ShowCoach">
      <ul class="list compitationList">
        <li class="item ink">
          <div class="row text-center">
            <ion-col col-5 class="col teamCol onlyScore">
              <div class="jb-inner-img"><span class="helper"></span>
                <img style="max-width: 90px;" src="{{path}}{{cutPath(homeTeamAbbr.team_image)}}" class="full-image img-storke"></div>
              <p class="jd_t" style="margin:auto; overflow: visible !important;"> {{homeTeamAbbr.team_name}}</p>
              <h3 style="font-size: 24px !important; padding-top: 15px;" class="jd-custom-scoretxt">{{newTotalHomeTeamScore}}</h3>
            </ion-col>
            <ion-col col-2 class="col teamCenterDiv">
              <div class="dispTable">
                <div class="dispTableCell">
                  <div class="teamScoreContainer" style="padding-top: 45px !important;">
                    <span class="Jd_span">VS</span>
                  </div>
                  <!-- Toggle switch -->
                  <div class="jd_switchClass">
                    <ion-item class="jd_toggleCustomSwitch">
                      <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()" class="jd_toggle_switch"></ion-toggle>
                    </ion-item>
                  </div>
                  <!--  -->
                </div>
              </div>
            </ion-col>
            <ion-col col-5 class="col teamCol onlyScore">
              <div class="jb-inner-img"><span class="helper"></span>
                <img style="max-width: 90px;" src="{{path}}{{cutPath(awayTeamAbbr.team_image)}}" class="full-image img-storke"></div>
              <p class="jd_t" style="margin:auto; overflow: visible !important;">{{awayTeamAbbr.team_name}}</p>
              <h3 style="font-size: 24px !important; padding-top: 15px;" class="jd-custom-scoretxt">{{newTotalAwayTeamScore}}</h3>
            </ion-col>
          </div>
        </li>
      </ul>
      <div class="advContainer3">
        <img src="{{path}}{{cutPath(adv[0].ad_image)}}" (click)="goToAddSite(adv[0].ad_url);">
      </div>

      <!-- sort with quater functions -->
      <div class="jd_sort_btns">
        <ion-row class="jd_sort_rw">
          <ion-col [ngClass]="{'jd_selectedOptn': selectedOption.indexOf('all') > -1 }" (click)="SelectedSort('all')" col-3 class="jd_btn_border me">
            <p class="jd_sort_btn">All</p>
          </ion-col>
          <ion-col [ngClass]="{'jd_selectedOptn': selectedOption.indexOf(1) > -1}" (click)="SelectedSort(1)" class="jd_btn_border">
            <p class="jd_sort_btn">Q1</p>
          </ion-col>
          <ion-col [ngClass]="{'jd_selectedOptn': selectedOption.indexOf(2) > -1}" (click)="SelectedSort(2)" class="jd_btn_border">
            <p class="jd_sort_btn">Q2</p>
          </ion-col>
          <ion-col [ngClass]="{'jd_selectedOptn': selectedOption.indexOf(3) > -1}" (click)="SelectedSort(3)" class="jd_btn_border">
            <p class="jd_sort_btn">Q3</p>
          </ion-col>
          <ion-col [ngClass]="{'jd_selectedOptn': selectedOption.indexOf(4) > -1}" (click)="SelectedSort(4)" class="me2">
            <p class="jd_sort_btn">Q4</p>
          </ion-col>
        </ion-row>
      </div>
      <!--  -->

      <div *ngFor="let value of modifiedStateSeq;let key=index;">
        <div *ngIf="value.stat_abbrevation!='RB'">
          <div class="">
            <p class="nomalFormMidTitle " style="padding-bottom: 5px;">
              <span style="font-family: Gotham-Medium !important;">{{value.stat_name}}</span>
            </p>

            <ion-row class="row progressBarstyle" style="padding-bottom: 5px;">
              <ion-col col-5 no-padding>
                <div class="fillBar greenFill" [style.background-color]="value.homeTeamColor" [style.width]="value.homeTeamWidth"
                  style="font-size:19px; font-family:Gotham-Medium; margin-top: 6px; margin-right: -4px;">
                  {{homeTeamScoreStat[value.stat_abbrevation]}}
                </div>
              </ion-col>
              <ion-col no-padding>
                <div *ngIf="isToggled" class="jd_scoreCycle" [style.border-color]="value.awayTeamColor">
                  <p class="jd_scoreBoard" [innerHTML]="StatDiff(homeTeamScoreStat[value.stat_abbrevation], awayTeamScoreStat[value.stat_abbrevation])"></p>
                </div>
                <div *ngIf="!isToggled" class="jd_scoreCycle" [style.border-color]="value.homeTeamColor">
                  <p class="jd_scoreBoard" [innerHTML]="StatDiff2(homeTeamScoreStat[value.stat_abbrevation], awayTeamScoreStat[value.stat_abbrevation])"></p>
                </div>
              </ion-col>
              <ion-col col-5 no-padding>
                <div class="fillBar" [style.background-color]="value.awayTeamColor" [style.width]="value.awayTeamWidth"
                  style="font-size:19px; font-family:Gotham-Medium; margin-top: 6px; margin-left: -4px;">
                  {{awayTeamScoreStat[value.stat_abbrevation]}}
                </div>
              </ion-col>
            </ion-row>

          </div>
          <div class="" *ngIf="value.stat_abbrevation =='I50'">
            <p class="nomalFormMidTitle">
              <span style="font-family: Gotham-Medium !important;">EFF Inside 50s</span>
            </p>
            <ion-row class="row progressBarstyle">
              <ion-col col-5 class="col col-40">
                <div class="c100 p{{homeEFFWidth}} {{hColor}}" style="float:right;margin-right: 7px;">
                  <span> {{ homeEFF }}%</span>
                  <div class="slice">
                    <div class="bar1"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </ion-col>

              <ion-col class="col col-10">
                <div *ngIf="isToggled" class="jd_Eff">
                  <p class="jd_Efftext {{aColor}}" >{{awayEFF - homeEFF > 0 ? '+' :
                    ''}}{{awayEFF - homeEFF}}</p>
                </div>
                <div *ngIf="!isToggled" class="jd_Eff">
                  <p class="jd_Efftext {{hColor}}">{{homeEFF - awayEFF > 0 ? '+' :
                    ''}}{{homeEFF - awayEFF}}</p>
                </div>
              </ion-col>
              <ion-col col-5 class="col col-40">
                <div class="c100 p{{awayEFFWidth}} {{aColor}}" style=" margin-left: 9px;">
                  <span>{{ awayEFF }}%</span>
                  <div class="slice">
                    <div class="bar1"></div>
                    <div class="fill"></div>
                  </div>
                </div>
              </ion-col>

            </ion-row>

          </div>
        </div>
      </div>
    </div>
    <!-- teamCoach tab ends -->
  </div>
</ion-content>
<ion-footer *ngIf="statschoose=='Player' && type!='ACTION' && type!='SCORE'">
    <ion-toolbar class="jb-toolbar">
      <div class="jb-adv jd_footradv">
          <img src="{{path}}{{cutPath(adv[0].ad_image)}}" (click)="goToAddSite(adv[0].ad_url);">
      </div>
    </ion-toolbar>
  </ion-footer>
<!-- && -->
<!-- <ion-footer *ngIf="advertisementFooter && type!='ACTION'  && statschoose2!='team' ">
  <ion-toolbar class="jb-toolbar">
    <div class="jb-adv">
     	<img src="{{path}}{{advertisementFooter.ad_image}}" (click)="goToAddSite(advertisementFooter.ad_url);">
    </div>
  </ion-toolbar>
</ion-footer> -->
