page-playerselectionmodel {
    
    .has-subheader{
        top: 60px;
    }

    .jb-segment
    {
     position: fixed;
      z-index: 10;
      background: #f0f0f0;
      top:54px;
    //   border-bottom: 1px solid rgba(80, 80, 80, 0.92);
        
       ion-segment-button.segment-button {
           opacity: .8;
        text-transform: none;
		display: inline-block;
        width: auto;
        padding: 5px;
        min-height: 60px;
        font-size: 15px;
        // min-width: 25vw;
        border:none;
        font-weight: 900;
        border-bottom: none;
        line-height: 2.4;
        color: #04235C !important;
      }
    }

    .jb-segment-left
    {
        border-left: 1px solid rgba(80, 80, 80, 0.92) !important;
    }
    .jb-topalign
    {
        margin-top:65px;
    }
    .jb-segment-right
    {
        border-right: none !important;
    }
    .segment-button.segment-activated
    {
         background-color: #f0f0f0 !important; 
         color: #04235C ;
          opacity: .8 !important;
    }
   .segment-button
   {
       font-family: Gotham-Medium;
    font-size: 17px;
   }
    .button-clear{
        color: white !important;
    }
     
    .toolbar {
         min-height: 55px !important;
     }
     .searchbar-input-search-icon-color
    {
    color: white !important
    }
    .searchbar .searchbar-input
    {
        background: transparent !important;
    border-bottom: 2px solid white;
    color: white !important;
    border-radius: 0px !important;
        font-family: 'Gotham-Medium';
            box-shadow: none;
    }
    .searchbar-search-icon{
        background-image: url("../assets/icon/magnifying-glass.svg") !important;
    }
    .searchbar-clear-icon{
          background-image: url("../assets/icon/clear-button.svg") !important;
          background-size: 8px !important;
     }
    .item-thumbnail-left.newsList-CustomCSS.onlyFor1on1 > h2 {
        color: #fff;
        font-family: Gotham-Medium;
        font-size: 16px;
       padding-left:25px;
        white-space: normal;
    }
    .item-thumbnail-left.newsList-CustomCSS > h2 {
        color: #fff;
        font-family: Gotham-Medium;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        white-space: normal;
    }
    
    .item-thumbnail-left.newsList-CustomCSS > p {
        color: #b5b8c0;
        font-family: Gotham-Medium;
        font-size: 13px;
        padding-left: 23px;
        padding-right: 0;
        white-space: normal !important;
    }
    .item-thumbnail-left.ONTeam-Select.onlyForAction > h2{
        padding: 8px 22px;
   }
   .item-thumbnail-left.ONTeam-Select > h2{
       padding: 3px 0px 0 7px; 
   }
   .teamStates-List {
    // border-bottom: 1px solid red;
    padding: 15px 0 13px;
}
.item-md{
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
}
    
}
