<ion-header class="custBar">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="appicons-menu"></ion-icon>
    </button>
    <ion-title text-center>News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bgPage-color" no-bounce has-bouncing="false">
  <ion-slides *ngIf="newsData.news && newsData.news.length" (ionSlideDidChange)="slideChanged()" pager="true" autoplay=4000
    loop="true">
    <ion-slide class="sliderBG" *ngFor="let value of newsData.news  | slice:0:4; let i=index">
      <div class="postMatchSlide-Custom" (click)="openpage(value)">
        <div class="playButton-overlay">
          <div class="outer-custom">
            <div class="inner-custom">
              <ion-icon name="appicons-outube" class="jb-icon-red" *ngIf="value.pm_type==1"></ion-icon>
              <!-- <i class="icon ion-social-youtube-outline customPlaySymbol" *ngIf="value.pm_type==1"></i> -->
            </div>
          </div>
        </div>
        <img src="{{value.thumbnail_image}}" class="setImgWidth" *ngIf="value.pm_type==1" />
        <img src="{{path}}{{cutPath(value.image)}}" class="setImgWidth" *ngIf="value.pm_type==2" />
      </div>
      <div class="sliderCaptionText">{{value.title}}</div>
    </ion-slide>
  </ion-slides>

  <div class="custom-SubHeaderBar" *ngIf="headerimage!=''">
    <img src="{{path}}{{cutPath(headerimage)}}" class="advrImgHeight" (click)="goToAddSite(headerurl);">
  </div>

  <ion-list class="jb-list-margin">
    <ion-item class="bgPage-color" *ngFor="let value of newsData.news | slice:4; let i=index" (click)="openpage(value)">
      <ion-thumbnail item-start>
        <img src="{{value.thumbnail_image}}" *ngIf="value.pm_type==1" />
        <img src="{{path}}{{cutPath(value.image)}}" *ngIf="value.pm_type==2" />
        <div class="inner-custom jb-inner">
          <ion-icon name="appicons-outube" class="jb-icon-inner-red" *ngIf="value.pm_type==1"></ion-icon>
        </div>
      </ion-thumbnail>
      <h2 class="jb-margin-bottom">{{value.title}}</h2>
      <p class="jb-cut-stle">{{value.pm_date}}</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
