page-matchreportdetails {

.jb-margin
{
 margin:0px ;
}
.jb-etra
{
color: #04235C;
strong
	{
	 font-family: Gotham-Bold;
		color: #04235C;
		font-size: 15px;
	
	}
}
.title
{
	padding: 0px !important;
}
.matchDetailsContent .titleForMatchDetails
{
	font-family:Gotham-Bold;
	color:#04235C;
	padding-right:5px;
	font-size:15px;
}


.matchDetailsSubContent .titleForMatchDetails
{
	font-family:Gotham-Bold;
	color:#04235C;
	padding-right:5px;
	font-size:15px;
}
.setImgWidth{width: 100%; height:40vh;} 
/* End CSS */
.MatchReportContainer
{
	padding:0 10px;
}
.matchDetailsContent
{
	p{
		margin: 0px;
		padding-bottom: 5px;
	}
}

.TitleForMatchDetails h1
{
	color:#04235C;
	font-family:Gotham-Medium;
	font-size:26px;
	margin: 0px;
}
.TitleForMatchDetails p{
    font-family:Gotham-Book;
	font-size:14px;
	color:#04235C;
	margin-bottom: 8px;
}

.NewsDetailsTagWeb
{
	color:#04235C;
	font-family: Gotham-Book;
    font-size: 14px;
	margin-top: 10px;
}
.jb-content p
{
	line-height: 1.5;
	font-family: Gotham-Book;
    font-size: 14px;
	margin: 0px !important;
}
.jb-float
{
	    display: initial !important;
}

.shareImgs
{
	width:25px;
	height:25px;
}
.some-container span:last-child .list-comma{
       padding: 5px;
}
.matchDetailsContent p span
{  
   font-family: Gotham-Medium;
  font-size:14px;
  color:#04235C;
}
.HeadingForMatchDetails
{
	font-family: Gotham-Book;
	color:#04235C;
	padding-right:5px;
	font-size:17px;
}
.matchDetailsSubContent p span
{
  font-family: Gotham-Medium;
  font-size:14px;
  color:#04235C;
}
.matchDetailsSubContent p 
{
  font-family: Gotham-Medium;
  font-size:14px;
  color:#04235C;
}



.matchDetailsSubContent
{
	 
	padding-right:5px;
	p{
     line-height: 1.4;
    font-family: Gotham-Book;
    font-size: 13px;
	}
	
}
.setImgWidth{width: 100%; height:40vh;} 
}
