// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .scroll-content
// {
//     transform: none !important;
// }

// .scroll-content {
//    overflow-y: scroll;
//    -webkit-overflow-scrolling: touch;
//    height:100%; /*A value other than height:auto needs to be set*/
// }
//  .android {
        .toolbar {
            min-height: 44px !important;
        }
//   }
// .ios {
//     .scroll-content {
//       -webkit-overflow-scrolling: auto !important;
//     }
//   }
.yearlist {
  .popover-content{
    max-height: 14% !important;
  }
}

.gamepass {
.popover-content{
  top: 30vh !important;
  left: 10% !important;
  transform-origin: left top 0px;
  width: 80% !important;
  right: 10% !important;
  position: absolute;
}

.gamepasstitle{
  text-align: center;
  font-size: 20px;
  margin: 8px auto;
  font-family: Gotham-Medium;
}

.roundtxt{
  text-align: center;
    font-size: 15px;
    font-family: Gotham-Book;
}

.Vstext{
  position: relative;
  top: 50px;
  font-size: 20px;
  font-family: Gotham-Book;
}
}

.popbutton{
  width: 100%;
  background: white;
  border: 1px solid;
  color: #04235c;
  font-size: 18px;
  font-family: Gotham-Medium;
  font-weight: bold;
}
.poptxt{
  font-size: 15px !important;
    color: #04235c !important;
    font-family: Gotham-Medium !important;
}

.Center {
  text-align:center;
}

.popimg {
  height: 75px;
  width: 75px;
}

.jb-alert {
    .alert-sub-title{
    font-size: 15px  !important;
    color: black !important;
    font-family: Gotham-Medium  !important;
    }
    .alert-wrapper
    {
        border-radius: 0px !important;
    }
    .alert-button-group
    {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    }
    .alert-button
    {
            width: 200px;
        background: #031840;
        color: white;
    }
    span{
        margin: auto;
    width: 25px;
    }
    }
 @font-face {
font-family: 'Gotham-Medium';
  src: url("../assets/fonts/GOTHAM-MEDIUM.eot");
  src: url("../assets/fonts/GOTHAM-MEDIUM.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GOTHAM-MEDIUM.otf") format("opentype"),
    url("../assets/fonts/GOTHAM-MEDIUM.svg") format("svg"),
    url("../assets/fonts/GOTHAM-MEDIUM.ttf") format("truetype"),
    url("../assets/fonts/GOTHAM-MEDIUM.woff") format("woff"),
    url("../assets/fonts/GOTHAM-MEDIUM.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
font-family: 'Gotham-Bold';
  src: url("../assets/fonts/GOTHAM-BOLD.eot");
  src: url("../assets/fonts/GOTHAM-BOLD.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GOTHAM-BOLD.otf") format("opentype"),
    url("../assets/fonts/GOTHAM-BOLD.svg") format("svg"),
    url("../assets/fonts/GOTHAM-BOLD.ttf") format("truetype"),
    url("../assets/fonts/GOTHAM-BOLD.woff") format("woff"),
    url("../assets/fonts/GOTHAM-BOLD.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Gotham-Book';
    src: url("../assets/fonts/GOTHAM-BOOK.eot");
 src: url("../assets/fonts/GOTHAM-BOOK.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GOTHAM-BOOK.otf") format("opentype"),
    url("../assets/fonts/GOTHAM-BOOK.svg") format("svg"),
    url("../assets/fonts/GOTHAM-BOOK.ttf") format("truetype"),
    url("../assets/fonts/GOTHAM-BOOK.woff") format("woff"),
    url("../assets/fonts/GOTHAM-BOOK.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Gotham-Light';
  src: url("../assets/fonts/GOTHAM-LIGHT.eot");
  src: url("../assets/fonts/GOTHAM-LIGHT.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GOTHAM-LIGHT.otf") format("opentype"),
    url("../assets/fonts/GOTHAM-LIGHT.svg") format("svg"),
    url("../assets/fonts/GOTHAM-LIGHT.ttf") format("truetype"),
    url("../assets/fonts/GOTHAM-LIGHT.woff") format("woff"),
    url("../assets/fonts/GOTHAM-LIGHT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'Gotham-Black';
  src: url("../assets/fonts/GOTHAM-BLACK.eot");
  src: url("../assets/fonts/GOTHAM-BLACK.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GOTHAM-BLACK.otf") format("opentype"),
    url("../assets/fonts/GOTHAM-BLACK.svg") format("svg"),
    url("../assets/fonts/GOTHAM-BLACK.ttf") format("truetype"),
    url("../assets/fonts/GOTHAM-BLACK.woff") format("woff"),
    url("../assets/fonts/GOTHAM-BLACK.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
 * {
        font-family: 'Gotham-Light';
        }
ion-icon {
    &[class*="appicons"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="appicons-menu"] {
        mask-image: url(../assets/imgs/menuIcon/menuIcon.png);
        color: white;
    }
    &[class*="appicons-news"] {
        mask-image: url(../assets/imgs/menuIcon/newsIcon.png);
    }
    &[class*="appicons-matchcenter"] {
        mask-image: url(../assets/imgs/menuIcon/machCEnterIconNew.png);

    }
      &[class*="appicons-fixture"] {
        mask-image: url(../assets/imgs/menuIcon/FixturesIcon.png);
    }
    &[class*="appicons-postmatch"] {
        mask-image: url(../assets/imgs/menuIcon/PostMatchIcon.png);

    }
      &[class*="appicons-ladder"] {
        mask-image: url(../assets/imgs/menuIcon/LadderIcon.png);
    }
    &[class*="appicons-MatchReport"] {
        mask-image: url(../assets/imgs/menuIcon/MatchReportIcon.png);

    }
     &[class*="appicons-GoalKickers"] {
        mask-image: url(../assets/imgs/menuIcon/GoalKickersIcon.png);

    }
     &[class*="appicons-outube"] {
        mask-image: url(../assets/imgs/youtube.svg);

    }
     &[class*="appicons-yjfl-email"] {
        mask-image: url(../assets/yjflemail.svg);
         font-size: 24px;
    }
    &[class*="appicons-yjfl-mobile"] {
        mask-image: url(../assets/yjflmobile.svg);
         font-size: 24px;
    }
    &[class*="appicons-yjfl-notification"] {
        mask-image: url(../assets/yjflnotification.svg);
         font-size: 24px;
    }&[class*="appicons-yjfl-support"] {
        mask-image: url(../assets/question.svg);
         font-size: 24px;
    }
    &[class*="appicons-yjfl-social"] {
        mask-image: url(../assets/yjflsocial.svg);
         font-size: 24px;
    }
    &[class*="appicons-yjfl-envelope"] {
        mask-image: url(../assets/envelope.svg);
         font-size: 24px;
    }
    &[class*="appicons-yjfl-phone-receiver"] {
        mask-image: url(../assets/phone-receiver.svg);
         font-size: 24px;
    }
    &[class*="appicons-user"] {
        mask-image: url(../assets/user.svg);
         font-size: 24px;
    }
    &[class*="appicons-iback"] {
        mask-image: url(../assets/keyboard-left-arrow-button.svg);
         font-size: 24px;
    }

}
.jb-margin-bottom{margin-bottom: 5px !important;}
.jb-cut-stle{ padding-top: 8px !important; height: 25px !important;}
.custBar .toolbar-background
{
    background: transparent !important;
}
.custBar .toolbar-content .toolbar-title
{
    //  width: 80% !important;
    //  position: absolute !important;
    //  margin-left:10%;
    //  margin-right:10%;
        // margin-right: 40px !important;
}
   .custBar .toolbar-title
   {
     color: white !important;
    font-family: Gotham-Medium;
    font-size: 17px;
    text-align: center !important;
   }
.custBar{
	background-color: #04235C;
	// background-image: url("../assets/imgs/headerBgImg.png");
	// background-position: 0 0;
	// background-repeat: no-repeat;
	// background-size: 100% 100%;
}
.jd-premium{
    font-family: Gotham-Black;
    background-image: url(../assets/imgs/premiumBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 12px;
    line-height: normal;
    max-height: 28.5px;
    padding: 3px 8px 3px 3px;
    position: absolute;
    top: 14px;
    left: 42%;
}
.bgPage-color, .subHeaderTabs-BG{
	background-color: white;
}
.jb-toolbar
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
ion-footer{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    bottom: -4px !important;
    .toolbar-background
   {
       background: #101931 !important;
   }
    img{
    width: 100%;
    height: 50px;}
}
ion-toolbar{
     padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
// menu css
.jb-item-menu
{

}
$background-color:
 (
     primary:#74cece
 );
.jb-menu-first-item-color
{
    border:none !important;max-height:40px;min-height:40px; padding-left: 0px !important;padding-right: 0px !important;
    border: 2px solid rgba(4, 4, 4, 0.09);
    .item-inner
    {
    border:none !important;
    padding-right: 0px !important;
    }
  ion-label{
      margin: 0px !important;
  }
}
.headerAdv h2,h4
{
	line-height: 18px;
	position:relative;
    font-family:Gatham-Bold;
    text-align: center;
    color: white;

}


.headerAdv .advTitleOne
{
	font-size: 16px;
    margin-top: 2px;
	color:#fff
}

.headerAdv .advTitleTwo
{

	font-size:12px;
	color:#cbe5b0;
}


.headerAdvTwo .advTitleOne-one
{
	margin-top:5px;
	font-family:Gatham-Bold;
	font-size:18px;
	color:#fff
}

.headerAdvTwo .advTitleTwo-two
{
	font-family:Gatham-Bold;
	font-size:12px;
	color:#cbe5b0;
}

.liveImg {
    background-image: url("../assets/imgs/menuIcon/liveImg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:32px;
    line-height: 37px;
    margin-top: 7px;
    position: absolute;
    top: 2px;
    right: 10px;
    width: 56px;
}
.jb-menu-header
{
    .toolbar-background
    {
        background: transparent !important;
        border: none !important;
    }
        img{
   width: 100%;max-height: 85px;}

}
.spinner-dots circle {
    fill: #37bac8 !important;
}
.CusttoastCtrl{
  white-space: pre-wrap !important;
      text-align: center !important;
}
.loading-content{
    color: #37bac8 !important;}
.my-loading-class {
    //  background: rgba(4, 4, 4, 0.8) !important;
    // font-size: 15px;
    // font-weight: 700;
    .loading-wrapper{
        // background-image: url(../assets/imgs/VAFA_logo.gif);
        background-image: url(../assets/imgs/VAFA_logoNew.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 176px;
        width: 179px;
    }
}
.loading-class-my {


    .loading-wrapper{
       background: rgba(4, 4, 4, 0.8) !important;
     font-size: 15px;
     font-weight: 700;
     .loading-content{
     color:white !important;
     }
    }
}
.CustLoadCtrl{
  .loading-wrapper{
     white-space: pre-wrap !important;
     text-align: center !important;
     background: rgba(4, 4, 4, 0.8) !important;
     font-size: 15px;
     font-weight: 700;
     .loading-content{
     color:white !important;
     }
    }
    .ion-backdrop.backdrop-no-tappable{
    cursor: auto;
    opacity: 0.7 !important;
    }
}
.back-button
{
        color: #ffffff;
    background-color: transparent;
      margin: 0px;
    min-width: 30px;
}
.title{
    left: 0 !important;
    top: 0 ;
    padding:0px !important;
    position: absolute !important;
    width: 100% !important;
    height: 100%;
    -webkit-transform: translateZ(0) !important;
    transform: translateZ(0) !important;
    pointer-events: none !important;
    overflow: hidden;
}
.title1{
    left: 20% !important;
    top: 35px;
    position: absolute !important;
    width: 60% !important;
    height: 40%;
    background: transparent;
    color: white;
     font-family: Gotham-Medium;
    font-size: 17px;
    // overflow: hidden;
    white-space: nowrap;
}
.downarrow
{
    vertical-align: middle;
}
.dateOFMatches::after {
	border: 1px solid #7d849a;
    bottom: 6px;
    content: "";
    margin-right: -97px;
    opacity: 0.22;
    position: absolute;
    right: 50%;
    width: 190px;
    z-index: -1;
}
.advContainer{
	    // height: 45px;
    text-align: center;
        border-top: .55px solid #04235C;
       border-bottom:.55px solid #04235C;
           background: white;
	img{
    //    height: 100% !important;
    padding-top: 5px;
    max-height: 45px;
    max-width: 100% !important;
	}
}
.dateOFMatches
 {
    color: #7d849a;
    margin: 5px 0px;
    position: relative;
    text-align: center;
    width: 100%;

}


.dateOFMatches span {
    background-color: white;
    font-family: Gotham-Medium;
    font-size: 14px;
    padding: 5px 10px;
}
.dateOFMatches-OnlyForLiveStats
 {
    color: #7d849a;
    padding: 0 15px;
    position: relative;
    text-align: center;
    width: 100%;
}
.dateOFMatches-OnlyForLiveStats span {
    background-color: white;
    font-family: Gotham-Medium;
    font-size: 14px;
    padding: 5px 10px;
}

.year-popover{
  .popover-arrow{
    display: block !important;
    top: 107px !important;
    left : 63px !important;
    }

    .popover-content{
      top: 117px !important;
      left: 6px !important;
    }

}

.dateOFMatches-OnlyForLiveStats::after {
    border: 1px solid #565e73;
    bottom: 8px;
    content: "";
    margin-right: -125px;
    opacity: 0.5;
    position: absolute;
    right: 50%;
    width: 250px;
    z-index: -1;
}
.swiper-pagination-bullet-active
{
        background: #7f7f7f !important;
}
.swiper-pagination
{
    bottom: 10vw !important;
}
.swiper-pagination-bullet  {
    width: 14px !important;
    height: 14px !important;
    background :rgb(127, 127, 127) !important;
}
.seleted
{
    color: black !important;
    height: 55px;
        ion-label
        {
            margin: 0px !important;
            padding-left: 10px;
            padding-top:6px;

        }
      img{
         height: 39px;
         float:left;
      }
     p{
        width: 80%;
        margin-left: 50px;
        border-bottom: 1px solid rgba(95, 78, 78, 0.1);
        margin-top: 11px;
        margin-bottom: 0px;
        height: 35px;
        font-family:Gotham-Bold;;
        font-size: 14px;
      }
}
    .text-right
    {
        text-align: right;
    }
.notseleted
{
    height: 55px;
    ion-label
    {
        margin: 0px !important;
       padding-left: 10px;
       padding-top:6px;


    }
      img{
         height: 39px;
         float:left;
      }
      p{
        width: 80%;
        margin-left: 50px;
        border-bottom: 1px solid rgba(95, 78, 78, 0.1);
        margin-top: 11px;
        margin-bottom: 0px;
        height: 35px;
        font-family:Gotham-Bold;;
        font-size: 14px;
        color: #666;
      }

}
.statimg{
    height: 30px !important;
    padding-left: 6px;
    padding-top: 2px;
}
//
.statzone{

    height: 55px;
    ion-label
    {
        margin: 0px !important;
       padding-left: 10px;
       padding-top:6px;


    }
      img{
         height: 39px;
         float:left;
      }
      p{
        width: 80%;
        margin-left: 50px;
        border-bottom: 1px solid rgba(95, 78, 78, 0.1);
        margin-top: 11px;
        margin-bottom: 0px;
        height: 35px;
        font-family:Gotham-Bold;;
        font-size: 14px;
        color: #666;
      }
}
.seleted img{
  -webkit-filter:brightness(18%) sepia(1);
  filter:brightness(18%) sepia(1);
}
ion-menu
{
  ion-content
  {
      background-color:#F1F5F6 !important;
  }
}
.img-storke {
// -webkit-filter: drop-shadow(1px 1px 0px white) drop-shadow(-2px -1px 0px white) drop-shadow(1px -2px 0px white) drop-shadow(-1px 1px 0px white);
//  filter: drop-shadow(1px 1px 0px white) drop-shadow(-2px -1px 0px white) drop-shadow(1px -2px 0px white) drop-shadow(-1px 1px 0px white);

}
.header-md::after
{
    background-image: none !important;
}
.jb-banner{
    width: 100%;
    min-height: 42px;
}
ion-footer .toolbar-background {
    background: white !important;
    border:none !important;
}

.setImg{
    left: 23px;
    position: absolute;
    top: 11px;
    width: 19px;
}

.alert-radio-label{
    text-align: center;
    margin-left: 27px;
}

.Upgradebutton{
    .alert-wrapper{
        background-color:#00B0F0;
    }
    .alert-message{
      color:white;
    }
    .alert-title{
        color: white;
    }
    button.alert-button:nth-child(1) {
         font-weight:900;
         color:white;
         background-color:#00B0F0;
      }
      button.alert-button:nth-child(2) {
           font-weight:100 ;
           color:white;
      } button.alert-button:nth-child(3) {
        font-weight:100 ;
        color:white;
   }

}

.jd-upgradealertbutton{

    .alert-head{
        display: none;
    }
    .alert-message{
        display: none;
    }
    .alert-wrapper{
        background-color:#00B0F0;
    }
    .alert-message{
      color:white;
    }
    .alert-title{
        color: white;
    }
    button.alert-button:nth-child(1) {
         font-weight:900;
         color:white;
         background-color:#00B0F0;
          .button-inner{
            -webkit-justify-content: center !important;

           justify-content: center !important;
        }
      }
      button.alert-button:nth-child(2) {
           font-weight:100 ;
           color:white;
           .button-inner{
            -webkit-justify-content: center !important;

           justify-content: center !important;
        }
      } button.alert-button:nth-child(3) {
        font-weight:100 ;
        color:white;
        .button-inner{
            -webkit-justify-content: center !important;

           justify-content: center !important;
        }
   }



}
