page-custom-browser {


p{
	font-family: Gotham-Medium !important;
    color:#04235C;
}


span{
font-family: Gotham-Medium !important;
   
}

li{
font-family: Gotham-Medium !important;
    color:#04235C;
}

b{
  font-family: Gotham-Bold !important;
}

}
