<!--
  Generated template for the MatchcenterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="custBar">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="appicons-menu"></ion-icon>
    </button>
    <ion-title text-center>Match Centre</ion-title>
    <button class="title1" text-center (click)="gotomodel()">{{selectables.length > 20 ? selectables.substring(0,20)+'..' : selectables}} <ion-icon class="downarrow" name="ios-arrow-down"></ion-icon></button>
  </ion-navbar>
</ion-header>

<ion-toolbar [hidden]="weblink" #content no-border class="scrollable-segments" >
  <ion-grid style="padding: 0px !important;">
    <ion-row style="    min-height: 51px !important; border-bottom: 1px solid #bdbdbd;">
      <ion-col (click)="presentPopover($event)" col-3 class="columnone" style="padding-top: 8px; border-right: 1px solid #bdbdbd;">
        <p class="text"><b style="font-family: Gotham-medium !important;">SEASON</b></p>
        <p class="selectd_yr">{{selectd_yr}}</p>
        <ion-icon class="downarrow jd-down-arrow" name="ios-arrow-down"></ion-icon>
        <!-- <div class="jd_line"></div> -->
      </ion-col>
      <ion-col col-9 style="padding-top: 8px;">
        <ion-segment #scrollMe *ngIf="totalround" [(ngModel)]="roundNo" style="margin-left: 15px;">
          <ion-segment-button id='id{{round.round}}' (click)="selectRound(round.round,competition_id); " value="{{round.round}}"
            *ngFor="let round of totalround;" [innerHTML] = "ShowRound(round)">
            <!-- {{round.round}} -->
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>



<ion-content class="bgPage-color" no-bounce>
  <div *ngIf="!weblink" class="jb-content">
    <div *ngFor="let key of objectKeys(roundScores);let i=index;">
      <div class="box">
        <div class="jd_dateOFMatches">
          {{key}}
        </div>
      </div>

      <ul [ngClass]="{'jd_bClass': value1.fixture_count !=2 }" class="list compitationList" *ngFor="let value1 of roundScores[key]; trackBy: trackByFn; let l = last; let i = index;">
        <li class="item ink" (click)="selectedTeamScore(value1.fixture_id,value1.round,key, value1.match_status, value1.manual_score_recording, value1.name,value1.away_team_id,value1.home_team_id,value1.competition_id);">
          <ion-row class="row text-center matchCenterHeight">
            <ion-col col-3 class="teamCol">
              <div class="jb-inner-img"><span class="helper"></span>
                <img  (load)="load(value1.match_status)" src="{{path}}{{cutPath(value1.home_team_image)}}" class="setLogoImgWidth full-image  img-storke">
                <!-- <img (load)="load(value1.match_status)" src="{{path}}{{cutPath(value1.home_team_image)}}" class="setLogoImgWidth full-image  img-storke"> -->
              </div>
              <p>{{value1.home_team_name}}</p>

              <h3 *ngIf="value1.match_status == 'UPCOMING'"></h3>
              <h3 *ngIf="value1.match_status == 'LIVE' && value1.home_team_total_score < 1">0</h3>
              <h3 *ngIf="value1.match_status == 'COMPLETE' && value1.home_team_total_score == 0">0</h3>
              <h3 *ngIf="value1.home_team_total_score >= 1">{{value1.home_team_total_score}}</h3>

            </ion-col>
            <ion-col col-6 class=" teamCenterDiv">
              <div class="dispTable">
                <div class="dispTableCell">
                  <div class="matchStatusContainer text-center">
                    <!-- quater live -->
                    <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf="value1.live_quater_time!=null && value1.live_quater_time!= '00:00' && value1.match_status =='LIVE'">
                        Q{{value1.live_quater}}
                        <span *ngIf="value1.live_quater_time!=null">&nbsp; {{value1.live_quater_time}}</span>
                      </div>
                    <!-- 1st quater start -->
                    <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf="value1.live_quater_time==null && value1.match_status =='LIVE'">
                        Q{{value1.live_quater}}
                      <span *ngIf="value1.live_quater_time == null">&nbsp;00:00</span>
                    </div>
                    <!-- break -->
                    <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf="value1.live_quater_time=='00:00' && value1.match_status =='LIVE'">
                      <span *ngIf="value1.live_quater == '2'">&nbsp; QTR TIME</span>
                      <span *ngIf="value1.live_quater == '3'">&nbsp; HALF TIME</span>
                      <span *ngIf="value1.live_quater == '4'">&nbsp; 3 QTR TIME</span>
                    </div>
                    <!-- breakends -->

                    <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf=" value1.match_status =='UPCOMING'">
                      <span class="jd_prematch_note">{{value1.upcoming_days_status}}</span>
                    </div>
                    <!-- <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf=" value1.match_status =='UPCOMING'">
											Prematch
										</div> -->
                    <div class="matchStatus class_{{value1.match_status}} class_{{value1.match_status}}" *ngIf=" value1.match_status =='COMPLETE'">
                      Full Time
                    </div>
                  </div>
                  <p *ngIf=" value1.match_status =='UPCOMING'" class="boldgre">{{value1.planned_time}},&nbsp;{{value1.ground}}</p>
                  <p *ngIf=" value1.match_status =='COMPLETE'" class="boldWhite" [innerHTML]="changeWinning(value1.match_score_status)"></p>
                  <p *ngIf=" value1.match_status =='LIVE'" class="boldWhite" [innerHTML]="changeWinning(value1.match_score_status)"></p>
                </div>
              </div>
            </ion-col>
            <ion-col col-3 class=" teamCol">
              <div class="jb-inner-img"><span class="helper"></span>
                <img src="{{path}}{{cutPath(value1.away_team_image)}}" class="setLogoImgWidth full-image img-storke">
              </div>
              <p>{{value1.away_team_name}}</p>

              <h3 *ngIf="value1.away_team_total_score >= 1">{{value1.away_team_total_score}}</h3>
              <h3 *ngIf="value1.match_status == 'UPCOMING'"></h3>
              <h3 *ngIf="value1.match_status == 'LIVE' && value1.away_team_total_score < 1">0</h3>
              <h3 *ngIf="value1.match_status == 'COMPLETE' && value1.away_team_total_score == 0">0</h3>
            </ion-col>
          </ion-row>

        </li>
        <div class="advContainer"  *ngIf="value1.fixture_count==2 && roundScores[key].length >= 2" style="margin: 0 auto 0 -7px; width: 104%;">
          <img  (load)="load(value1.match_status)" src="{{path}}{{cutPath(totalRoundsData[0].ad_image)}}" (click)="goToAddSite(totalRoundsData[0].ad_url);">
        </div>
        <div class="advContainerB"  *ngIf="value1.fixture_count==1 && roundScores[key].length < 2" style="margin: 0 auto 0 -7px; width: 104%;">
          <img  (load)="load(value1.match_status)" src="{{path}}{{cutPath(totalRoundsData[0].ad_image)}}" (click)="goToAddSite(totalRoundsData[0].ad_url);">
        </div>

        <!-- <div class="line">

        </div> -->
      </ul>

    </div>
  </div>
  <div *ngIf="weblink" class="weblinkclass">
      <iframe [src]="safeURL" seamless allowfullscreen sandbox="allow-forms allow-scripts allow-same-origin allow-popups allow-top-navigation"></iframe>
  </div>
</ion-content>
<ion-footer *ngIf="weblink" >
  <ion-toolbar class="jb-toolbar">
      <div class="jb-adv">
          <img src="assets/imgs/CSM_-_More_Footy_Less_Admin_(white).gif" class="full-image">
      </div>
  </ion-toolbar>
</ion-footer>
