page-purchasehistory {
.jd_label_text{
    font-family: Gotham-Medium;
    font-size: 15px;
    text-align: left;
    margin: auto 0px 12px;
}

.jd_text{
    font-family: Gotham-Light;
    font-size: 16px;
    text-align:left;
    margin: auto 0px 12px;
}

.jd_custom_row{
    box-shadow: 1px 1px 5px 0px grey;
    margin-bottom: 7px;
}

}
